extends header
block content
  script(src='js/index.js')
  script(src='js/templates/ranklist.js')
  div.divider
  div.columns.col-mx-auto.text-large
    ins.col-mx-auto Echoing
  div.divider

  div.container.columns
    div.column.ranklist#ranklist
    div.divider-vert
    div.column Coding...
  //-<meta http-equiv="refresh" content="2;url=#">
